<div class="login">
  <div class="login-window">
    <div name="login-info">
      <img
        class="p-mt-5"
        src="../../assets/z-shop-logo.png"
        style="width: 50px;"
      />
      <div class="p-mt-3 p-mb-3" style="font-weight: bold;">
        Sign in to <span style="color: #ffcb7d;">Z-</span>Shop
      </div>
      <div class="p-mb-2"><input type="text" placeholder="Email" /></div>
      <div class="p-mb-2"><input type="text" placeholder="Password" /></div>
      <div class="p-mb-2"><input type="submit" value="Sign in" /></div>
      <div class="p-mb-1  p-mr-3 p-ml-3 footer"></div>
    </div>
    <div name="login-img"></div>
  </div>
</div>
