.main {
  width: 100vw;
  height: 100vh;
  background: gray;

  .btn-view {
    width: 30%;
    height: 100%;
    background: rgb(151, 151, 151);

    .get-product,
    .create-product,
    .delete-product {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      & > :nth-child(n) {
        margin-bottom: 5px;
      }
    }

    .login {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      & > :nth-child(n) {
        margin-right: 15px;
      }
    }

    & div:nth-child(n) {
      margin-bottom: 20px;
    }
  }
}
