.main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background: gray;

  .btn-view {
    padding: 0 10px;
    width: 70%;
    height: 100%;
    background: rgb(255, 255, 255);
    text-align: left;

    .get-product,
    .create-product,
    .delete-product {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      & > :nth-child(n) {
        margin-bottom: 20px;
        font-size: 12px;
      }
    }

    .create-product {
      padding: 20px 0px;
      border-top: 5px solid black;
      border-bottom: 5px solid black;
    }

    .login {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      & > :nth-child(n) {
        margin-right: 15px;
      }
    }

    & div:nth-child(n) {
      margin-bottom: 20px;
    }
  }
}
