$padding: (
  desktop-header-horizontal: 200px,
  pad-header-horizontal: 50px,
  small-pad-header-horizontal: 30px,
  phone-header-horizontal: 10px
);

$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

// 電腦
@mixin pc-width {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

// 平板
@mixin pad-width {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

// 小平板
@mixin small-pad-width {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
// 手機
@mixin phone-width {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  border-bottom: 1px solid transparent;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.15s;

  @include pc-width {
    padding: 25px map-get($map: $padding, $key: desktop-header-horizontal);
  }

  @include pad-width {
    padding: 25px map-get($map: $padding, $key: pad-header-horizontal);
  }

  @include small-pad-width {
    padding: 25px map-get($map: $padding, $key: small-pad-header-horizontal);
  }

  @include phone-width {
    padding: 25px map-get($map: $padding, $key: phone-header-horizontal);
  }

  .logo {
    font-weight: 800;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      margin-left: 5px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      position: relative;
      list-style: none;

      a {
        position: relative;
        display: inline-block;
        margin: 0 15px;
        color: rgb(238, 238, 238);
        text-decoration: none;

        transition: 0.5s;
      }
    }
  }

  &.sticky {
    background: #fff;
    border-bottom: 1px solid #e0e0e0;

    @include pc-width {
      padding: 20px map-get($map: $padding, $key: desktop-header-horizontal);
    }

    @include pad-width {
      padding: 20px map-get($map: $padding, $key: pad-header-horizontal);
    }

    @include small-pad-width {
      padding: 20px map-get($map: $padding, $key: small-pad-header-horizontal);
    }

    @include phone-width {
      padding: 20px map-get($map: $padding, $key: phone-header-horizontal);
    }

    a {
      color: #636363;
    }
  }
}

.catalog {
  span {
    cursor: pointer;
    margin: 0 10px;
  }
}
