<header class="header p-font-family-content" :class="classHeader">
  <div class="logo">
    <img src="@/assets/z-shop-logo.png" style="height: 30px;" />
    <span
      ><span style="margin: 0; color: rgb(253, 166, 67);">Z-</span>Shop</span
    >
  </div>
  <div class="catalog">
    <span><b>Mem</b></span>
    <span><b>Women</b></span>
    <span><b>Kids</b></span>
  </div>
  <div class="toggle">
    <input
      type="checkbox"
      href="#"
      class="menu-open"
      name="menu-open"
      id="menu-open"
    />
    <label class="menu-open-button" for="menu-open" @click="onToggleHandler">
      <span class="hamburger hamburger-1"></span>
      <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span>
    </label>
  </div>
  <ul class="menu">
    <li>
      <a href="#"><font-awesome-icon :icon="['fas', 'search']"/></a>
    </li>
    <li>
      <a href="#"><font-awesome-icon :icon="['fas', 'shopping-cart']"/></a>
    </li>
    <li>
      <a href="#"><font-awesome-icon :icon="['far', 'user']"/></a>
    </li>
  </ul>
  <div class="side-bar" :class="classSideBar"></div>
</header>
