<header class="header" :class="classHeader">
  <div class="logo">
    <img src="@/assets/z-shop-logo.png" style="height: 30px;" />
    <span>Z-Shop</span>
  </div>
  <div class="catalog">
    <span>Mem</span>
    <span>Women</span>
    <span>Kids</span>
  </div>
  <div class="toggle"></div>
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Home</a>
    </li>
  </ul>
</header>
