$color: (
  btn-bg-color: #ffffff8c,
  btn-bg-color-hover: #6e6e6e8c,
  font-color: #242424,
  font-color-hover: #ffffff
);

$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

// 電腦
@mixin pc-width {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

// 平板
@mixin pad-width {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

// 小平板
@mixin small-pad-width {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
// 手機
@mixin phone-width {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

.product-area {
  height: 300px;
  position: relative;
  margin: 0 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;

  .product-item {
    width: 100%;
    height: 100%;
  }

  .info-area {
    z-index: 2;
    position: absolute;
    bottom: 35px;
    left: 35px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: calc((100% - 35px) * 0.45);
    height: 50%;
  }
}

.mask {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6d6d6d65;
}

.count-down {
  width: 45px;
  height: 20px;
  border-radius: 30px;
  background-color: #f35252;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  text-align: left;
}

.detail-btn {
  height: 35px;
  padding: 0 15px;
  border-radius: 20px;
  background: map-get($map: $color, $key: btn-bg-color);
  color: map-get($map: $color, $key: font-color);
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  cursor: pointer;
  transition: 0.15s;

  &:hover {
    background: map-get($map: $color, $key: btn-bg-color-hover);
    color: map-get($map: $color, $key: font-color-hover);
  }
}
