$seconds-color: #2c3e50;
$medium_grey-color: #8f8f8f8c;
$light-grey-color: rgba(158, 158, 158, 0.35);
$spacing: 10px;
.nav-bar {
  margin: 20px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;

  .home-btn {
    position: relative;
    display: inline-block;
    margin-right: $spacing;

    a {
      text-decoration: none;
      color: $medium_grey-color;
      transition: 0.15s;

      &:hover {
        color: $seconds-color;
      }
    }
  }

  span {
    color: $medium_grey-color;
  }

  .path {
    color: $medium_grey-color;
    position: relative;
    display: inline-block;
    margin: 0 $spacing;
  }
}
