// pc3-width
$pc3-media: 1920px;

// pc2-width
$pc3s-media: 1919px;
$pc2-media: 1280px;

// pc-width
$pc2s-media: 1279px;
$pc-media: 960px;

// pad-width
$pcs-media: 959px;
$pad-media: 760px;

// small-pad-width
$pads-media: 759px;
$phone-media: 480px;

// phone-width
$phones-media: 479px;

// 電腦3
@mixin pc3-width {
  @media all and (min-width: $pc3-media) {
    @content;
  }
}

// 電腦2
@mixin pc2-width {
  @media all and (min-width: $pc2-media) and (max-width: $pc3s-media) {
    @content;
  }
}

// 電腦
@mixin pc-width {
  @media all and (min-width: $pc-media) and (max-width: $pc2s-media) {
    @content;
  }
}

// 平板
@mixin pad-width {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

// 小平板
@mixin small-pad-width {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
// 手機
@mixin phone-width {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

$seconds-color: #2c3e50;
$medium_grey-color: #8f8f8f8c;
$light-grey-color: rgba(158, 158, 158, 0.35);
$spacing: 10px;
.nav-bar {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-size: 14px;

  @include pc2-width {
    font-size: 18px;
  }

  @include pc-width {
    font-size: 18px;
  }

  @include pad-width {
    font-size: 18px;
  }

  @include small-pad-width {
    font-size: 16px;
  }

  @include phone-width {
    font-size: 14px;
  }

  .home-btn {
    position: relative;
    display: inline-block;
    margin-right: $spacing;

    a {
      text-decoration: none;
      color: $medium_grey-color;
      transition: 0.15s;

      &:hover {
        color: $seconds-color;
      }
    }
  }

  span {
    color: $medium_grey-color;
  }

  .path {
    color: $medium_grey-color;
    position: relative;
    display: inline-block;
    margin: 0 $spacing;
    transition: 0.25s ease;

    &:hover {
      color: black;
    }
  }
}
