$picture-height: 80%;
.product-window-main {
  width: calc(33.3% - (10px * 2));
  min-width: 370px;
  height: 700px;
  padding: 0px;
  margin: 10px 10px;

  .picture {
    position: relative;
    width: 100%;
    height: $picture-height;
    background-position: center;
    background-size: cover;

    .picture-mask {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      z-index: 1;
      cursor: pointer;
      transition: 0.15s ease-out;

      div {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0px 3px 8px 5px #00000099;
      }
    }

    .picture-favorite {
      position: absolute;
      top: 20px;
      right: 20px;

      color: rgba(255, 255, 255, 0.25);
      font-size: 35px;
      cursor: pointer;
      transition: 0.15s;
      svg {
        line-height: 0;
      }

      &:hover {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .info {
    width: 100%;
    height: calc(100% - #{$picture-height});

    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    span[name="title"] {
      font-size: 18px;
    }

    span[name="price"] {
      font-size: 24px;
    }

    .info-size {
      display: inline-block;
      height: 40px;

      & > div:nth-child(n) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
        margin: 0 2px;
        border: 1px solid rgba(0, 0, 0, 0.45);
        border-radius: 3px;
        font-size: 14px;
        font-weight: normal;
        width: 32px;
        height: 26px;
      }
    }

    & > :nth-child(n) {
      margin-bottom: 5px;
    }

    & > :nth-child(1) {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
