div {
  position: relative;
}

.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url(../../assets/banner.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .textBox {
  width: 700px;
  padding-left: 250px;
  color: #fff;
  text-align: left;
}

.banner .textBox h1 {
  font-weight: 700;
  font-family: "Palanquin Dark", sans-serif;
  font-size: 72px;
  margin-bottom: 70px;
}

.banner .textBox span {
  font-weight: bold;
}

.shop-now {
  display: inline-block;
}

.shop-now div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #ffcb7d;
  border-radius: 50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.shop-now span {
  color: #fff;
  font-size: 12px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.shop-now:hover {
  cursor: pointer;
}

.shop-now:hover div {
  background: #fab651;
  -webkit-box-shadow: 2px 2px 3px 0px #00000052;
          box-shadow: 2px 2px 3px 0px #00000052;
}

.shop-now:hover span {
  color: #fab651;
  text-shadow: 2px 2px 1px #00000052;
}

.info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75vw;
  height: 120px;
  padding: 35px 80px 35px 150px;
  background: #fff;
  z-index: 1;
  border-radius: 0 45px 0 0;
}

.info-container .info-area {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.info-container .info-area .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.info-container .info-area .info .info-symbol {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 43px;
  width: 43px;
  margin-right: 10px;
  font-size: 20px;
  background: #ffcb7d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-container .info-area .info .info-content {
  width: 75%;
}

.info-container .info-area .info .info-content h6 {
  font-size: 12px;
  font-weight: 800;
}

.info-container .info-area .info .info-content span {
  font-size: 12px;
  color: #777777;
}

.product-container {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 10px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.quickly-pics {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.just-for-you div {
  display: inline-block;
  margin: 0 10px;
  font-size: 25px;
}

.just-for-you > input {
  width: 130px;
  height: 40px;
  padding: 0 5px;
  background: #ffffff8c;
  display: inline-block;
  margin: 0 10px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  color: #242424;
  font-weight: bold;
  font-size: 10px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.just-for-you > input:hover {
  background: #6e6e6e8c;
  color: #ffffff;
}

.shop-window {
  width: 100%;
  height: 400px;
  background: url("https://i.postimg.cc/fLYvV72q/benjamin-voros-Tn-No84-AJJ5-A-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.advantage {
  width: 100%;
  height: 200px;
}

.product-today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.product-today img {
  max-width: 100%;
}

.subscribe {
  position: relative;
  height: 200px;
  padding: 0 50px;
  background: url("https://i.postimg.cc/8kn3T2w5/kenan-buhic-yjcr-VIGAw9-A-unsplash-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe span {
  width: 400px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.subscribe input[type="text"] {
  height: 40px;
  width: 200px;
  padding: 10px 20px;
  margin: 0 15px;
  font-size: 10px;
  color: black;
  outline: none;
  border: 0px solid transparent;
  border-radius: 17px;
}

.subscribe input[type="button"] {
  height: 40px;
  width: 120px;
  padding: 0 20px;
  background-color: #ffcb7d;
  outline: none;
  border: 0px solid transparent;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.subscribe input[type="button"]:hover {
  background-color: #fab651;
}

.font-link {
  cursor: pointer;
  color: #8a8a8a;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.font-link:hover {
  color: #242424;
}

.footer-info {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info > div {
  margin: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  text-align: left;
}

.footer-info div[name="main"] {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer-info div[name="main"] > span {
  display: block;
  font-size: 12px;
}

.footer-info div[name="main"] div[name="social-media"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.normal-padding-h {
  padding-left: 100px;
  padding-right: 100px;
}

.layout-row-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-row-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.layout-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */