<div>
  <div>
    <div class="banner">
      <div class="textBox">
        <h1>Sale of the summer collection</h1>
        <div class="shop-now">
          <div>
            <font-awesome-icon :icon="arrowRight" />
          </div>
          <span><b>SHOP NOW</b></span>
        </div>
      </div>
    </div>
    <div class="info-container">
      <div class="info-area">
        <div class="info" v-for="(item, index) in infoData" :key="index">
          <div class="info-symbol">
            <font-awesome-icon :icon="item.symbol" />
          </div>
          <div class="info-content">
            <h6 class="no-margin">{{ item.title }}</h6>
            <span>{{ item.content }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-container no-margin normal-padding-h">
    <div class="quickly-pics p-mb-4">
      <cQuicklyPics
        :prop-flex="quitePicPaths[index].flex"
        :prop-content="quitePicPaths[index].content"
        :prop-cut-down="quitePicPaths[index].cutDown"
        :prop-source-url="quitePicPaths[index].src"
        :prop-btn-title="quitePicPaths[index].buttonTitle"
        v-for="(item, index) in quitePicPaths"
        :key="index"
      />
    </div>

    <div class="just-for-you layout-row-between p-mb-4">
      <div>Selected just for you</div>
      <input type="button" value="SHOW MORE" />
    </div>

    <div class="shop-window p-mb-10"></div>

    <div class="p-full-w p-font-25 layout-row-center p-mb-3">
      Why should choice us ?
    </div>
    <div class="advantage p-full-w layout-row-around p-mb-10">
      <cAdvantage
        :prop-symbol="item.symbol"
        :prop-title="item.title"
        :prop-content="item.content"
        v-for="(item, index) in advantageData"
        :key="index"
      />
    </div>

    <div class="p-full-w p-font-25 layout-row-center  p-mb-3">
      Products in today
    </div>
    <div class="product-today p-full-w  p-mb-10"></div>

    <div class="subscribe p-full-w">
      <span>{{ subscribeData.content }}</span>
      <div>
        <input type="text" :placeholder="subscribeData.inputPlaceholder" />
        <input type="button" :value="subscribeData.buttonMessage" />
      </div>
    </div>
  </div>

  <cFooter />
</div>
