$seconds-color: #2c3e50;
$medium_grey-color: #8f8f8f;
$light-grey-color: #9e9e9e59;

$pc2-media: 1280px;
$pc2s-media: 1279px;
$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

// 電腦
@mixin pc2-width {
  @media all and (min-width: $pc2-media) {
    @content;
  }
}

// 電腦
@mixin pc-width {
  @media all and (min-width: $pc-media) and (max-width: $pc2s-media) {
    @content;
  }
}

// 平板
@mixin pad-width {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

// 小平板
@mixin small-pad-width {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
// 手機
@mixin phone-width {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

* {
  user-select: none;
}

.main {
  padding: 80px 100px;

  @include pc-width {
    padding: 80px 50px 20px 50px;
  }

  @include pad-width {
    padding: 80px 40px 20px 40px;
  }

  @include small-pad-width {
    padding: 80px 30px 10px 30px;
  }

  @include phone-width {
    padding: 80px 20px 10px 20px;
  }
}

.view {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @include pc-width {
    flex-direction: column;
  }

  @include pad-width {
    flex-direction: column;
  }

  @include small-pad-width {
    flex-direction: column;
  }

  @include phone-width {
    flex-direction: column;
  }

  .filter-area {
    width: 25%;

    @include pc-width {
      width: 100%;
    }

    @include pad-width {
      width: 100%;
    }

    @include small-pad-width {
      width: 100%;
    }

    @include phone-width {
      width: 100%;
    }

    .type {
      .type-option {
        padding: 0 20px;
        height: 190px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.35s;

        @include phone-width() {
          height: 135px;
        }

        input[type="checkbox"] {
          display: none;
        }

        .nike {
          position: relative;
          width: 30px;
          height: 30px;
          margin-right: 15px;

          @include phone-width() {
            height: 20px;
            width: 20px;
          }
        }

        .nike label::after {
          z-index: 1;
          content: "";
          position: absolute;
          top: 9px;
          left: 7px;
          width: 16px;
          height: 8px;
          border: 0 solid #fff;
          border-left: 3px solid transparent;
          border-bottom: 3px solid transparent;
          transform: rotateZ(-45deg);

          transition: 0.15s;

          @include phone-width() {
            top: 4px;
            left: 4px;
            width: 13px;
            height: 8px;
          }
        }

        label {
          width: 100%;
          height: 100%;
          background: #fff;
          border: 1px solid #8f8f8f;
          transition: 0.15s;
          cursor: pointer;
        }

        input:checked ~ .nike label::after {
          border-left: 3px solid #fff;
          border-bottom: 3px solid #fff;
        }

        input:checked ~ .nike label {
          background: #000000;
        }

        & > :nth-child(n) {
          margin-bottom: 13px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          @include phone-width() {
            margin-bottom: 8px;
          }
        }
      }
    }

    .price {
      .price-option {
        height: 100px;
        padding: 0 20px;
        overflow: hidden;
        transition: 0.35s;

        @include phone-width() {
          height: 80px;
        }

        .price-area {
          margin-bottom: 15px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          #filter-price {
            height: 32px;
            padding: 5px 10px;
            background: rgba(136, 136, 136, 0.521);

            @include pc-width {
              height: 30px;
              font-size: 18px;
            }
          }

          & > :nth-child(n) {
            padding: 0px 5px;
            height: 20px;
            background: rgba(196, 196, 196, 0.521);
            font-size: 14px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include pc-width {
              height: 30px;
              font-size: 18px;
              padding: 0px 10px;
            }

            @include pad-width {
              height: 30px;
              font-size: 18px;
              padding: 0px 10px;
            }

            @include small-pad-width {
              height: 30px;
              font-size: 18px;
              padding: 0px 10px;
            }

            @include phone-width {
              height: 24px;
              font-size: 14px;
              padding: 0px 8px;
            }
          }
        }

        .slider-area {
          height: 30px;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          input {
            width: 100%;
            height: 4px;
            background: black;
            border-radius: 10px;
            appearance: none;
            outline: none;

            &::-webkit-slider-thumb {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 2px solid black;
              appearance: none;
              background: #fff;
              cursor: pointer;
            }

            &::-moz-slider-thumb {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }

    .size {
      .size-option {
        padding: 0 20px;
        height: 80px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        transition: 0.35s;

        & > :nth-child(n) {
          margin-right: 5px;
          width: 50px;
          height: 50px;
          border: 1px solid $light-grey-color;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          transition: 0.15s;
        }
      }
    }

    & > :nth-child(n) {
      border-radius: 3px;
      border: 1px solid rgba(158, 158, 158, 0.35);
      margin-bottom: 5px;
    }
  }

  .product-item-area {
    width: 75%;
    margin-left: 25px;

    @include pc-width {
      width: 100%;
      margin: 0;
    }

    @include pad-width {
      width: 100%;
      margin: 0;
    }

    @include small-pad-width {
      width: 100%;
      margin: 0;
    }

    @include phone-width {
      width: 100%;
      margin: 0;
    }

    .condition-bar {
      position: relative;
      margin: 20px 10px 15px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include small-pad-width {
        height: 120px;
        flex-direction: column;
        justify-content: space-around;
      }

      @include phone-width {
        margin: 10px 10px 10px 10px;
        height: 100px;
        flex-direction: column;
        justify-content: space-around;
      }

      .short-title {
        font-size: 26px;

        @include pc-width {
          font-size: 32px;
        }

        @include pad-width {
          font-size: 32px;
        }

        @include small-pad-width {
          font-size: 32px;
        }

        @include phone-width {
          font-size: 32px;
        }
      }

      .sort {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        span[name="title"] {
          margin-right: 10px;

          @include pc-width {
            font-size: 22px;
          }

          @include pad-width {
            font-size: 22px;
          }

          @include small-pad-width {
            font-size: 22px;
          }

          @include phone-width {
            font-size: 22px;
          }
        }

        .sort-style {
          cursor: pointer;
          outline: none;
          padding: 6px 15px;
          border-radius: 30px;
          background: #fff;
          color: $medium-grey-color;
          font-size: 14px;
          border: 1px solid $medium-grey-color;
          appearance: none;
        }
      }
    }

    .product-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      @include pc-width {
      }

      @include pad-width {
      }

      @include small-pad-width {
      }

      @include phone-width {
      }
    }
  }
}

.arrow {
  transform: rotateX(0deg);
  transition: 0.25s;
}

.filter-title {
  cursor: pointer;
  padding: 0 20px;
  height: 75px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;

  @include pc-width {
    font-size: 22px;
  }

  @include pad-width {
    font-size: 22px;
  }

  @include small-pad-width {
    font-size: 22px;
  }

  @include phone-width {
    font-size: 18px;
    height: 45px;
  }
}
