// pc3-width
$pc3-media: 1920px;

// pc2-width
$pc3s-media: 1919px;
$pc2-media: 1280px;

// pc-width
$pc2s-media: 1279px;
$pc-media: 960px;

// pad-width
$pcs-media: 959px;
$pad-media: 760px;

// small-pad-width
$pads-media: 759px;
$phone-media: 480px;

// phone-width
$phones-media: 479px;

// 電腦3
@mixin pc3-width {
  @media all and (min-width: $pc3-media) {
    @content;
  }
}

// 電腦2
@mixin pc2-width {
  @media all and (min-width: $pc2-media) and (max-width: $pc3s-media) {
    @content;
  }
}

// 電腦
@mixin pc-width {
  @media all and (min-width: $pc-media) and (max-width: $pc2s-media) {
    @content;
  }
}

// 平板
@mixin pad-width {
  @media all and (min-width: $pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

// 小平板
@mixin small-pad-width {
  @media all and (min-width: $phone-media) and (max-width: $pads-media) {
    @content;
  }
}
// 手機
@mixin phone-width {
  @media all and (max-width: $phones-media) {
    @content;
  }
}

$first-color: #ffcb7d;
$first-color-hover: #fab651;

$image-width: 40px;
$category-width: 110px;
$size-width: 60px;
$price-width: 100px;
$count-width: 60px;

.main-summary {
  width: 100%;
}

.checkout-done {
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#checkout-done-title {
  font-size: 120px;
  height: 40%;
}

.checkout-done-content {
  font-size: 20px;
}

.continue-shop-btn {
  cursor: pointer;
  width: 230px;
  height: 60px;
  background: $first-color;
  border-radius: 35px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease;
  font-weight: bold;

  &:hover {
    background: $first-color-hover;
  }
}

.top-block {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  display: inline-flex;

  @include pc-width() {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  @include pad-width() {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  @include small-pad-width() {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }

  @include phone-width() {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
}

.bottom-block {
  width: 100%;
}

.method-block {
  width: 70%;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include pc-width() {
    padding-right: 0px;
    width: 100%;
  }

  @include pad-width() {
    padding-right: 0px;
    width: 100%;
  }

  @include small-pad-width() {
    padding-right: 0px;
    width: 100%;
  }

  @include phone-width() {
    padding-right: 0px;
    width: 100%;
  }
}

.order-info-block {
  width: 30%;
  padding-left: 50px;
  text-align: left;

  @include pc-width() {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 50px;
  }

  @include pad-width() {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 50px;
  }

  @include small-pad-width() {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 50px;
  }

  @include phone-width() {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 50px;
  }

  h1 {
    text-transform: uppercase;
  }

  div {
    font-size: 18px;
  }
}

.order-info {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.order-group {
  flex: 1;
  width: 100%;
}

.order-single-item {
  text-align: left;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  @include pc2-width() {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  @include small-pad-width() {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  @include phone-width() {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  & > div:nth-child(1) {
    flex: 1;

    @include pc2-width() {
      font-weight: bold;
    }

    @include small-pad-width() {
      font-weight: bold;
    }

    @include phone-width() {
      font-weight: bold;
    }
  }

  & > div:nth-child(2) {
    flex: 2;

    @include small-pad-width() {
      color: gray;
    }

    @include phone-width() {
      color: gray;
    }
  }
}

.method {
  width: 100%;
  // margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;

  @include pc-width() {
    margin-bottom: 15px;
  }

  @include pad-width() {
    margin-bottom: 15px;
  }

  @include small-pad-width() {
    margin-bottom: 15px;
    flex-direction: column;
    align-items: stretch;
  }

  @include phone-width() {
    margin-bottom: 15px;
    flex-direction: column;
    align-items: stretch;
  }
}

.section-img {
  width: 45px;
  height: 45px;
}

.select-section {
  margin-bottom: 10px;
  cursor: default;
  width: 23%;
  height: 75px;
  background: #fff;
  border-radius: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  transition: 0.25s ease;

  @include small-pad-width() {
    width: auto;
  }

  @include phone-width() {
    width: auto;
  }

  & > div:nth-child(n) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.item-title {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  text-align: left;
  font-size: 22px;
  font-weight: 900;
}

.cart {
  display: inline-block;
  width: 100%;
}

.cart-list {
  width: 70%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include pc-width() {
    width: 100%;
  }

  @include pad-width() {
    width: 100%;
  }

  @include small-pad-width() {
    width: 100%;
  }

  @include phone-width() {
    width: 100%;
  }
}

.cart-image {
  & > div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.cart-title {
  text-align: left;
  @include pc-width() {
    width: 200px;
  }

  @include pad-width() {
    width: 200px;
  }

  @include small-pad-width() {
    width: 200px;
  }

  @include phone-width() {
    width: 200px;
  }
}

.cart-category {
  @include pc-width() {
    width: 100px;
  }

  @include pad-width() {
    width: 100px;
  }

  @include small-pad-width() {
    width: 100px;
  }

  @include phone-width() {
    width: 100px;
  }
}

.cart-size {
  @include pc-width() {
    width: 30px;
  }

  @include pad-width() {
    width: 30px;
  }

  @include small-pad-width() {
    width: 30px;
  }

  @include phone-width() {
    width: 30px;
  }
}

.cart-price {
  font-size: 16px;
}

.cart-count {
  @include pc-width() {
    width: 30px;
  }

  @include pad-width() {
    width: 30px;
  }

  @include small-pad-width() {
    width: 30px;
  }

  @include phone-width() {
    width: 30px;
  }
}

.foot-bar {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include pc-width() {
    margin-bottom: 40px;
  }

  @include pad-width() {
    margin-bottom: 40px;
  }

  @include small-pad-width() {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
  }

  @include phone-width() {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
  }

  // Continue Shopping
  .foot-back {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(128, 128, 128, 0.55);
    transition: 0.25s ease;
    svg {
      font-size: 26px;
      margin-right: 20px;

      @include small-pad-width() {
        display: none;
      }

      @include phone-width() {
        display: none;
      }
    }
    span {
      font-size: 20px;
    }

    &:hover {
      color: rgba(48, 48, 48, 0.9);
    }
  }

  // Right
  .foot-checkout-info {
    margin-bottom: 50px;
    width: 400px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    @include pc-width() {
      margin-bottom: 0px;
    }

    @include pad-width() {
      margin-bottom: 0px;
    }

    @include small-pad-width() {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 20px;
    }

    @include phone-width() {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 20px;
    }

    // Total cost
    .footer-total-cost {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include small-pad-width() {
        justify-content: center;
        margin-bottom: 10px;
      }

      @include phone-width() {
        justify-content: center;
        margin-bottom: 10px;
      }

      & > span:nth-child(1) {
        margin-right: 15px;
        font-size: 18px;
        color: rgba(128, 128, 128, 0.55);
      }

      & > span:nth-child(2) {
        font-weight: bold;
        font-size: 22px;
      }
    }

    // Next Step Button
    .footer-checkout-btn {
      cursor: pointer;

      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      height: 60px;
      width: 200px;
      background: $first-color;
      border-radius: 60px;
      margin: 0px 0px;

      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      transition: 0.25s ease;

      @include small-pad-width() {
        width: auto;
      }

      @include phone-width() {
        width: auto;
      }

      &:hover {
        background: $first-color-hover;
      }
    }
  }
}
