#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.hove-line {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hove-line::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 80%;
  margin-left: calc((100% - 80%) / 2);
  background: #2c3e50;
  left: 0;
  bottom: -5px;
  z-index: 2;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.p-font-small {
  font-size: 12px;
}

.p-font-sm {
  font-size: 14px;
}

.p-font-medium {
  font-size: 16px;
}

.p-font-ml {
  font-size: 20px;
}

.p-font-large {
  font-size: 24px;
}

.p-font-lighter {
  font-weight: lighter;
}

.p-font-bold {
  font-weight: bold;
}

.p-font-family-content {
  font-family: "Palanquin Dark", sans-serif;
}

.p-font-family-button {
  font-family: "Roboto", sans-serif;
}

.p-font-family-filter-title {
  font-family: "Montserrat", sans-serif;
}

.p-font-family-lato {
  font-family: "Lato", sans-serif;
}

.p-font-family-hammersmith {
  font-family: "Hammersmith One", sans-serif;
}

.p-full-w {
  width: 100%;
}

.p-full-h {
  height: 100%;
}

.p-flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.p-flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.p-flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.p-flex-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.p-flex-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.p-align-left {
  text-align: left;
}

.p-align-right {
  text-align: right;
}

.p-mt-1 {
  margin-top: 10px;
}

.p-mt-2 {
  margin-top: 20px;
}

.p-mt-3 {
  margin-top: 30px;
}

.p-mt-4 {
  margin-top: 40px;
}

.p-mt-5 {
  margin-top: 50px;
}

.p-mt-6 {
  margin-top: 60px;
}

.p-mt-7 {
  margin-top: 70px;
}

.p-mt-8 {
  margin-top: 80px;
}

.p-mt-9 {
  margin-top: 90px;
}

.p-mt-10 {
  margin-top: 100px;
}

.p-mb-1 {
  margin-bottom: 10px;
}

.p-mb-2 {
  margin-bottom: 20px;
}

.p-mb-3 {
  margin-bottom: 30px;
}

.p-mb-4 {
  margin-bottom: 40px;
}

.p-mb-5 {
  margin-bottom: 50px;
}

.p-mb-6 {
  margin-bottom: 60px;
}

.p-mb-7 {
  margin-bottom: 70px;
}

.p-mb-8 {
  margin-bottom: 80px;
}

.p-mb-9 {
  margin-bottom: 90px;
}

.p-mb-10 {
  margin-bottom: 100px;
}

.p-ml-1 {
  margin-left: 10px;
}

.p-ml-2 {
  margin-left: 20px;
}

.p-ml-3 {
  margin-left: 30px;
}

.p-ml-4 {
  margin-left: 40px;
}

.p-ml-5 {
  margin-left: 50px;
}

.p-ml-6 {
  margin-left: 60px;
}

.p-ml-7 {
  margin-left: 70px;
}

.p-ml-8 {
  margin-left: 80px;
}

.p-ml-9 {
  margin-left: 90px;
}

.p-ml-10 {
  margin-left: 100px;
}

.p-mr-1 {
  margin-right: 10px;
}

.p-mr-2 {
  margin-right: 20px;
}

.p-mr-3 {
  margin-right: 30px;
}

.p-mr-4 {
  margin-right: 40px;
}

.p-mr-5 {
  margin-right: 50px;
}

.p-mr-6 {
  margin-right: 60px;
}

.p-mr-7 {
  margin-right: 70px;
}

.p-mr-8 {
  margin-right: 80px;
}

.p-mr-9 {
  margin-right: 90px;
}

.p-mr-10 {
  margin-right: 100px;
}

.no-margin {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */