.main {
  width: 100%;
  margin-top: 80px;
  padding: 0 100px;

  .nav-bar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      display: inline-block;
    }

    .symbol {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & div:nth-child(n) {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        $radius-value: 38px;
        & div:nth-child(odd) {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: $radius-value;
          height: $radius-value;
          background: transparent;
          border: 1px solid;
          border-radius: 50%;
          font-size: 18px;
        }

        $line-width: 100px;
        $border-line-width: 1px;
        & div:nth-child(even) {
          display: inline-block;
          width: $line-width;
          border-bottom: $border-line-width solid #6666663f;
        }
      }
    }
  }
}
